<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="fa fa-times sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">Add Storage</h4>
    </div>
    <div class="modal-body color-black">
		
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="$dismiss()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="addStorage()">Ok</button>
    </div>
</div>